footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
    text-align: center;
}

footer a {
    color: var(--primary-color);
}

footer a:hover {
    color: var(--primary-hover);
}
